name: 'Qt Debug and Release With MSVC'

on: workflow_dispatch

env:
  OutputBranchName: release_145/Qt6.10.1
  
jobs:
  Prebuild-Qt:
    runs-on: windows-latest
    steps:
      - run: choco install ninja
      - run: choco install cmake
      - name: Install Dependencies (Perl/Python)
        run: choco install strawberryperl -y
        
      - name: Set up Visual Studio Environment
        uses: ilammy/msvc-dev-cmd@v1
        
      # Note repo is named qt5 but is also used for Qt6; see: https://wiki.qt.io/Building_Qt_6_from_Git
      - name: Check out Qt repo
        shell: cmd
        run: | 
          git clone git://code.qt.io/qt/qt5.git qt6
          
      - name: Switch To release tag Branch
        shell: cmd
        run: |
          cd qt6
          git checkout tags/v6.10.1
          
      - name: Init Repository
        shell: cmd
        run: |
          cd qt6
          .\init-repository.bat

      - name: Make build directory
        shell: cmd
        run: |
          mkdir qt6-build

      - name: Configure Qt 6 Build
        working-directory: qt6-build
        run: |
          ..\qt6\configure.bat -prefix ../output -release -opensource -confirm-license -nomake tests -nomake examples

#      - name: Configure Qt
#        shell: cmd
#        run: |
#          mkdir qt6-build
#          mkdir output
#          cd qt6-build
#          ..\qt6\configure.bat -debug-and-release -developer-build -confirm-license -opensource -shared -openssl-linked -opengl -optimized-tools -make tools -nomake examples -nomake tests -prefix ../output
      - name: Build Qt
        working-directory: qt6-build
        run: |
          cmake --build . --parallel
      - name: Install Qt
        working-directory: qt6-build
        run: |
          cmake --install .
      - name: Look at files
        shell: cmd
        run: |
          cd output
          dir
          dir *
      - name: Upload Built Qt Artifacts (Optional)
        uses: actions/upload-artifact@v4
        with:
          name: Built-Qt6-Windows
          path: output
          retention-days: 7
