name: 'Qt Debug and Release With MSVC'

on: workflow_dispatch

env:
  OutputBranchName: release_145/Qt6.10.1
  
jobs:
  Prebuild-Qt:
    runs-on: windows-latest
    steps:
      - run: choco install ninja
      - run: choco install cmake
      # Note repo is named qt5 but is also used for Qt6; see: https://wiki.qt.io/Building_Qt_6_from_Git
      - name: Check out Qt repo
        shell: cmd
        run: | 
          git clone git://code.qt.io/qt/qt5.git qt6
      - name: Switch To release Branch
        shell: cmd
        run: |
          cd qt6
          git checkout tags/v6.10.1
      - name: Init Repository
        shell: cmd
        run: |
          cd qt6
          .\init-repository.bat
      - name: Configure Qt
        shell: cmd
        run: |
          cd qt6
          mkdir qt6-build
          mkdir output
          cd qt6-build
          ..\configure.bat -debug-and-release -developer-build -confirm-license -opensource -shared -openssl-linked -opengl -optimized-tools -make tools -nomake examples -nomake tests -prefix ../output
      - name: Build Qt
        shell: cmd
        run: |
          cd qt6
          cd qt6-build
          cmake --build . --parallel 4
          dir
      - name: Install Qt
        shell: cmd
        run: |
          cd qt6
          cd qt6-build
          cmake --install .
          dir
      - name: Look at files
        shell: cmd
        run: |
          cd qt6
          cd output
          dir
          dir *
