name: 'Qt Prebuild With MSVC'

on: workflow_dispatch

env:
  OutputBranchName: release_143/Qt6.7.0
  
jobs:
  Prebuild-Qt:
    runs-on: windows-latest
    steps:
      - run: choco install ninja
      - name: Check out Qt repo
        shell: cmd
        run: | 
          # Note this is also used for Qt6; see: https://wiki.qt.io/Building_Qt_6_from_Git
          git clone git://code.qt.io/qt/qt5.git qt6
      - name: Switch To Dev Branch # By default already but just in case
        shell: cmd
        run: |
          cd qt6
          git switch dev
      - name: Init Repository
        shell: cmd
        run: |
          cd qt6
          perl init-repository
      - name: Configure Qt
        shell: cmd
        run: |
          cd qt6
          mkdir qt6-build
          mkdir output
          cd qt6-build
          ..\configure.bat -prefix ../output -shared -debug -openssl-runtime -- -GNinja
      - name: Build Qt
        shell: cmd
        run: |
          cd qt6
          cd qt6-build
          cmake --build . --parallel 4
          dir
      - name: Install Qt
        shell: cmd
        run: |
          cd qt6
          cd qt6-build
          cmake --install .
          cd ../output
          dir bin
          dir include
